body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
h1 {
    font-size: 40px;
    margin-top: 3%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-family: 'Acme', sans-serif;
    line-height: normal;
    color: #66bfbf;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 20px;
}
.top-cloud {
    position: relative;
    left: 30%;
    bottom: 15%;
}
.bottom-cloud {
position: absolute;
left: 15%;
}
p { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}